[submodule "public"]
	path = public
	url = git@github.com:rcammisola/rcammisola.github.io.git
	branch = master
    ignore = all
[submodule "themes/ghostwriter"]
	path = themes/ghostwriter
	url = git@github.com:jbub/ghostwriter.git
